<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.king_lens">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ADASAT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splashscreen"
            android:label="ADASAT"
            android:theme="@style/AppThemeSplash"/>
        <activity
            android:name=".Home_adslot"
            android:label="HOME"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterScreen"
            android:label="ADASAT"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="ADASAT.NET"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Grid_List.Item_activity"
            android:label="@string/title_activity_wishlist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Grid_List.Gridlist_Activity"
            android:label="ADASAT.NET"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Grid_List.Filter_Activity" />
        <activity
            android:name=".Grid_List.Popup_Activity"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".Collection_Activity"
            android:label="@string/title_activity_collection_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Activity"
            android:label="REGISTER"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.king.king_lens.LoginActivity" />
        </activity>
        <activity android:name=".Select_Language"></activity>
    </application>

</manifest>