<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.king.king_lens">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ADASET"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ADASET"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Home_adslot"
            android:label="HOME"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".Splashscreen"
            android:label="ADASET"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterScreen"
            android:label="ADASET"
            android:theme="@style/AppTheme.NoActionBar"
            />
    </application>

</manifest>